body {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--sbb-gray);
}

header {
    height: 15vh;
    width: 100vw;

    display: flex;
    justify-content: center;

    background-color: var(--sbb-red);
}

main {
    height: 77.5vh;
    width: var(--inner-width);
    margin-top: 7.5vh;

    overflow-y: hidden;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
main::-webkit-scrollbar {
    display: none;
}

#header-content-holder {
    height: 15vh;
    width: var(--inner-width);
    margin: 0 1vh;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 100px;
    overflow: hidden;

    background-color: var(--sbb-white);
    box-shadow:
        0 16px 128px 0 rgba(141, 141, 141, 0.1),
        0 4px 32px 0 rgba(141, 141, 141, 0.2);

    transform: translateY(7.5vh);
}

#header-train {
    height: 100%;

    position: absolute;
    right: 100%;
}

#header-content-h1 {
    font-size: 5vh;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 2px;

    font-family: "SBB Web Roman", "Arial", sans-serif;
    color: #000;
}

#header-clock {
    height: 10vw;
    width: 10vw;

    position: absolute;
    right: 1.25vw;
    bottom: 1.25vw;
}

#loading-screen {
    height: 100vh;
    width: 100vw;

    position: absolute;
    top: 0;
    left: 0;

    display: none;
    align-items: center;
    justify-content: center;

    background-color: #7a7a7a44;

    z-index: 1;
}

#loading-screen img {
    height: 20vh;
}

#loading-screen.loading {
    display: flex;
}

#menu-toggle {
    height: 3vh;
    width: 2vw;

    position: fixed;
    top: 2vw;
    right: 2vw;

    display: none;
    flex-direction: column;
    justify-content: space-between;

    cursor: pointer;
    z-index: 1;
}

#menu-toggle .bar {
    height: 0.5vh;
    width: 100%;

    border-radius: 2vh;

    background-color: #212121;
    transition: all 0.3s ease;
}

#settings {
    height: 50vh;
    width: 50vw;
    padding: 2rem;

    position: absolute;
    top: calc(50% - 25vh);
    left: calc(50% - 25vw);

    border: none;
    border-radius: 20px;

    background-color: var(--sbb-white);
    box-shadow: 0 4px 32px rgba(0, 0, 0, 0.2);

    font-family: var(--sbb-font);
    color: var(--sbb-black);
}

#settings h1 {
    font-size: 3vh;
    margin-bottom: 1.5vh;

    color: var(--sbb-blue);
}

#settings table {
    width: 100%;
    border-collapse: collapse;
}

#settings td {
    padding: 0.5vh 0;
    font-size: 2vh;
}

#station-input {
    width: 100%;
    padding: 0.5vh;

    font-size: 2vh;

    border: 2px solid var(--sbb-gray-dark);
    border-radius: 10px;

    background-color: var(--sbb-gray);
}

#settings::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
}

#settings button {
    padding: 1vh 1vw;

    margin-top: 1vh;

    font-weight: bold;
    font-size: 2vh;

    border: none;
    border-radius: 10px;

    cursor: pointer;
    transition: background-color 0.2s ease;
}

#settings button:hover {
    background-color: gray;
}

#messages {
    height: 30vh;
    width: 20vw;
    padding: 1vh;

    position: absolute;
    bottom: 0;
    left: calc(50% - 10vw);

    display: flex;
    flex-direction: column-reverse;
    gap: 1vh;

    overflow: hidden;
    z-index: 1;
}

.message {
    width: calc(100% - 2vh);
    padding: 1vh;

    text-align: center;

    font-size: 1.5vh;

    border-radius: 10px;

    background-color: rgb(213, 255, 151);
}

@keyframes train {
    0% {
        right: 100vw;
    }

    100% {
        right: -100vw;
    }
}

.train-animation {
    animation: train 3s linear 1;
}
