.connection {
    height: calc(84% / 3);
    max-height: calc(94% / 3);

    width: 100%;
    max-width: 100%;

    margin: 2% 0;

    border-radius: 20px;

    background-color: var(--sbb-white);
}

.connection-top {
    height: 20%;

    padding: 2.5%;

    display: flex;
    align-items: center;
    gap: 0.5%;
}

.connection-top img {
    height: 80%;
    max-height: 80%;
    min-height: 80%;
}

p.connection-line {
    font-size: 2.5vh;
    font-weight: bold;

    height: 70%;
    min-width: 4.5vw;
    padding-left: 0.25vw;
    padding-right: 0.25vw;

    text-justify: center;

    border: 0.215vh solid black;
    border-radius: 0.3vh;
}

.connection-bottom {
    min-height: 10vh;

    padding: 0 2.5%;

    display: flex;
    justify-content: space-between;
}

.connection-bottom-left,
.connection-bottom-right {
    display: flex;
    flex-direction: column;
}

.connection-bottom-left {
    width: 10%;
}

.connection-bottom-center {
    min-height: 100%;
    width: 100%;

    min-height: 70px;

    display: flex;

    position: relative;

    overflow-x: scroll;
}

.connection-bottom-right {
    width: 10%;

    text-align: right;
}

.connection-category {
    max-height: 30px;
}

.connection-destination {
    height: 80%;
    margin-left: 10px;
    
    font-size: 3vh;
}

.connection-arrival,
.connection-departure {
    font-size: 2.5vh;
    font-weight: bold;
}

.connection-platform,
.connection-delay {
    font-size: 2vh;
}

.connection-delay {
    color: var(--sbb-red);
    font-weight: bold;
}

.connection-bottom-center::-webkit-scrollbar {
    display: none;
}

.linie {
    min-width: 100%;

    margin-top: 1.9vh;

    width: 0;

    position: absolute;

    border-top: 0.15vh solid black;
    border-bottom: 0.15vh solid black;
}

.punkt {
    height: 0.35vw;

    aspect-ratio: 1;

    margin-left: 6vw;
    margin-right: 6vw;
    margin-top: 1.75vh;

    position: relative;

    border-radius: 50%;
    border: 0.16vw solid black;

    background-color: white;
}

.punkt:first-of-type {
    margin-left: 0;
}

.punkt:last-of-type {
    margin-right: 0;
}

.punkt::after {
    content: var(--after-content, "");

    font-size: 1.8vh;

    position: absolute;
    top: 220%;
    left: 50%;

    transform: translateX(-50%);
    white-space: nowrap;

    display: block;
}
